:PURCHASED_MATERIALS:
DAYTON
MOELLER
KALLER
LANE
MISUMI
DADCO
FORWARD
HYSON
STANDFAST
STANDARD LIFTERS
AJACS
JOLICO
LAMINA
DANLY
DANLY/IEM
SELFLUBE
MDL
SANKYO
REID
STOCK
SYRON
TURCK
STRUCTURAL
IMP
ARGON
AMCOR
DESTACO
BOHLER UDDERHOLM
BALLUFF
BANNER
IFM
PUR
:END:

//{Attribute title}:{Column}
:ATTRIBUTE_TO_POPULATE_WITH:
{DESCRIPTION}:{3}
{MATERIAL}:{4}
{ComponentDescriptionUGS}:{8}
:END:

:ATS_EXCEL:
U:\nxFiles\Excel\ats.xlsx
:END:

:CTS_EXCEL:
U:\nxFiles\Excel\cts.xlsx
:END:

:DTS_EXCEL:
U:\nxFiles\Excel\dts.xlsx
:END:

:ETS_EXCEL:
U:\nxFiles\Excel\ets.xlsx
:END:

:HTS_EXCEL:
U:\nxFiles\Excel\hts.xlsx
:END:

:RTS_EXCEL:
U:\nxFiles\Excel\rts.xlsx
:END:

:UGS_EXCEL:
U:\nxFiles\Excel\ugs.xlsx
:END:

