:OP_020_000_REGEX:
^\d+-020-000$
:END:

:OP_020_LAYOUT_REGEX:
^\d+-020-layout$
:END:

:CompName_LowerPost:
100
:END:

:CompName_LowerBinder:
// This has to be a number that can be converted to an integer.
// Program will fail otherwise.
101
:END:

:CompName_UpperCavity:
// This has to be a number that can be converted to an integer.
// Program will fail otherwise.
600
:END:

:Material_LowerPost:
D2
:END:

:Material_LowerBinder:
D2
:END:

:Material_UpperCavity:
D2
:END:

:HeightZCLowerBinder:
2.5
:END:

:UPPER_CAVITY_REFERENCE_BOOLEAN:
// Subtract, Intersect, Unite
{^OP-020-UPR-3D$},{Subtract},{0}
:END:

:LOWER_BINDER_REFERENCE_BOOLEAN:
// Subtract, Intersect, Unite
{^OP-020-LWR-3D$},{Subtract},{0}
{^OP-020-PAD-PROFILE$},{Subtract},{0}
:END:

:LOWER_POST_REFERENCE_BOOLEAN:
// Subtract, Intersect, Unite
{^OP-020-LWR-3D$},{Subtract},{0}
{^OP-020-PAD-PROFILE$},{Intersect},{0}
{^OP-\d{3}-LWR-3D.*WITH(\s*|-|_)PROFILE$},{Subtract},{1}
:END:

:STANDOFF_SEED_FILE:
G:\0Library\Standoffs\Standoff Square Lower Metric.prt
:END:

:SMART_KEY_SEED_FILE:
G:\0Library\Keys\Smart Key Metric.prt
:END:

:SMART_MISUMI_NEST_GAUGES:
G:\0Library\Gauges\Misumi\Smart Misumi-nest-gauges.prt
:END:

:SEED_PART:
G:\0Library\SeedFiles\Components\seed-base.prt
:END:

:REFERENCE_BOOLEANS:
// Subtract, Intersect, Unite
{UPPER_CAVITY},{^OP(\s*|-|_)020(\s*|-|_)UPR(\s*|-|_)3D$},{Subtract},{0}
{LOWER_BINDER},{^OP(\s*|-|_)020(\s*|-|_)LWR(\s*|-|_)3D$},{Subtract},{0}
{LOWER_BINDER},{^OP(\s*|-|_)020(\s*|-|_)PAD(\s*|-|_)PROFILE$},{Subtract},{0}
{LOWER_BINDER},{^OP(\s*|-|_)020(\s*|-|_)BINDER(\s*|-|_)3D(.*)WITH(\s*|-|_)PROFILE$},{Subtract},{1}
{LOWER_POST},{^OP(\s*|-|_)020(\s*|-|_)LWR(\s*|-|_)3D$},{Subtract},{0}
{LOWER_POST},{^OP(\s*|-|_)020(\s*|-|_)LWR(\s*|-|_)PROFILE$},{Intersect},{0}
{LOWER_POST},{^OP(\s*|-|_)\d{3}(\s*|-|_)LWR(\s*|-|_)3D(.*)WITH(\s*|-|_)PROFILE$},{Subtract},{1}
:END:

:STRIP_CONTROL_MATERIAL_TITLE:
M
:END: