:FOLDERS_TO_DELETE_REGEX:
FileCleanup
:END:

:INITIAL_DIRECTORY:
G:\
:END:

:DETAIL_STRUCT_REGEX:
"^[0-9]{4,}-(?<Op>[0-9]{3})-(?<DetailNumber>[0-9]{3})$"
:END:

:DETAIL_ASSEMBLY_STRUCT_REGEX:
"^[0-9]{4,}-(?<AssemblyOp>[0-9]{4,})-(?<DetailNumber>[0-9]{3})$"
:END:

:GFOLDER_JOB_FOLDER_REGEX:
\\(?<CtsJobNumber>[0-9]{1,}) \((?<Customer>[a-z]{1,})-(?<CusomterJobNumber>[0-9]{1,})\)\\
:END:

:GFOLDER_FOLDERS_ZIP_ALL_SUBFOLDERS:
\\(?<CtsJobNumber>[0-9]{1,}) \((?<Customer>[a-z]{1,})-(?<CusomterJobNumber>[0-9]{1,})\)\\grippers\\
\\(?<CtsJobNumber>[0-9]{1,}) \((?<Customer>[a-z]{1,})-(?<CusomterJobNumber>[0-9]{1,})\)\\[0-9]{4,}-[0-9]{4,}\\
:END:

:GFOLDER_FOLDERS_ZIP_NO_SUBFOLDERS:
\\(?<CtsJobNumber>[0-9]{1,}) \((?<Customer>[a-z]{1,})-(?<CusomterJobNumber>[0-9]{1,})\)\\mathdata\\(?!\\)
\\(?<CtsJobNumber>[0-9]{1,}) \((?<Customer>[a-z]{1,})-(?<CusomterJobNumber>[0-9]{1,})\)\\simulation\\(?!\\)
:END:

//.*\\(?<CtsJobNumber>[0-9]{1,}) \((?<Customer>[a-z]{1,})-(?<CusomterJobNumber>[0-9]{1,})\)\\simulation\\(?!\\).*

:SEVEN_ZIP_EXECUTABLE:
C:\Program Files\7-Zip\7z.exe
:END:

:DIALOG_FILTER:
Part Files (*.prt)|*-000.prt|All files (*.*)|*.*
:END:



:DIRECTORY_REGEXES:
// Matches only part files in the top level directory of "mathdata" or "simulation".
^([A-Za-z]{1}:{1})\\(.+)\\(mathdata|simulation)\\([^\\]{1,})\.prt$

// Matches only part files at any level of the directory "grippers".
^([A-Za-z]{1}:{1})\\(.+)\\(grippers)\\.*\.prt$
:END:

:TOP_DIRECTORY_ONLY:
mathdata
simulation
:END:

:ALL_DIRECTORIES:
grippers
:END: