:SIM_SPECIAL_REGEX:
//Line below is obsolete 2018-10-12
//^(?<CustomerNumber>[0-9_]{4,})-simulation$
//Updated to below to allow for file names like "2456-01-simulation"
^(?<CustomerNumber>[0-9_]+|[0-9_]+-[0-9]+)-simulation$
:END:

:STEP_FILE_SETTINGS_PATH:
C:\\Program Files\\Siemens\\NX 11.0\\step214ug\\ugstep214.def
:END:

:IGES_FILE_SETTINGS_PATH:
C:\\Program Files\\Siemens\\NX 11.0\\iges\\igesexport.def
:END:

:COMBO_OPERATION_ITEMS:
d1
d2
d3
d4
d5
d6
d7
d8
d9
d10
d11
d12
d13
d14
d15
d16
t1
t2
t3
t4
t5
t6
t7
t8
t9
t10
t11
t12
t13
t14
t15
t16
b
Unfold
MidSurfCurve
RefData
:END:


:COMBO_SURFACE_ITEMS:
lwr
upr
Pad Profile
:END:

:COMBO_TOOL_SIDE_ITEMS:
lwr
upr
post
pad
punch
lifter
:END:

:COMBO_VERSION_#:
v01
v02
v03
v04
v05
v06
v07
v08
v09
v10
v11
v12
v13
v14
v15
v16
v17
v18
v19
v20
v21
v22
v23
v24
v25
v26
v27
v28
v29
v30
v31
v32
v33
v34
v35
v36
v37
v38
v39
v40
v41
v42
v43
v44
v45
v46
v47
v48
v49
v50
:END:

:COMBO_DATA_R_LEVELS:
r001
r002
r003
r004
r005
r006
r007
r008
r009
:END:

:COMBO_EC:
501
502
503
504
505
506
507
508
509
510
:END:

:COMBO_PROPOSAL_DATA:
p1
p2
p3
p4
p5
p6
p7
p8
p9
p10
:END:

:SIM_DRIVE_PATH:
S:\\Active
:END:
